/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin:0;padding:0;box-sizing:border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  position: relative;
  background-size: 100vw;
  background-image: url(images/fond1.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: #b4b5b4;
  line-height: 1;
  font-family: 'Shadows Into Light', cursive;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, p {
  text-align: center;

}
h1{
  font-size: 15vh;
}
p{

  font-size: 10vh;
}

.main_nav {
  display: grid;
  grid-template-rows: 1fr 8fr;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1vw;
  padding-top: 5vw;
  max-height: 100%;
}

.menuIcon {
  width: 23vw;
  visibility: visible;
  justify-self: center;
}

.menuLateralBar {
  display: none;
}

.nav_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 23vh;
  background-color: brown;
  max-height: 0;
  overflow: hidden;
  transition: all 2s;
}

.nav_block.active {
  max-height: 100vh;
}

.nav_item a {
  text-align: center;
  display: block;
  padding: 13%;
  background-color: red;
}

.nav_item:hover a {
  color: black;
  background-color: white;
}

.sous_nav_block {
  height: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: height 2s;
}

.sous_nav_block.active {
  height: auto;
}

.sous_nav_item a {
  display: block;
}

.sous_nav_item:hover a {
  color: yellow;
  background-color: blue;
}

@media only screen and (min-width:720px) {
  .menuIcon {
    display: none;
  }

  .main_nav {
    padding-left: 0;
    padding-top: 0;
  }

  .nav_block{
    max-height: 100vh;
    height: 100vh;
    overflow: unset;
    position: absolute;
    left: -23vh;
    transition: left 2s;
  }

  .nav_block::after {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 999;
    content: '...';
    width: 10px;
    height: 100vh;
    border: 1px solid black;
    background-color: red;
    text-align: center;
    writing-mode: vertical-lr;
    font-size: 2rem;
    line-height: 1.7rem;
  }
  .nav_block:hover {
    left: 0;
  }

  .menuLateralBar {
    display: block;
    height: 100vh;
    width: 20px;
    background-color: black;
  }
}
